<template>
	<div class="wrapper">
		<top-nav></top-nav>
		<div class="wrapper-box">
			<side-nav></side-nav>
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
    import TopNav from './TopNav'
    import SideNav from './SideNav'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        components: {
            'top-nav': TopNav,
            'side-nav': SideNav
        },
        methods: {
            getActiveUser() {
                var user = JSON.parse(localStorage.getItem('user'))
                if (user !== null) {
                    this.$store.dispatch('global/setActiveUser', user)
                } else {
                    this.$store.dispatch('global/setActiveUser', false)
                }
            }
        },
        created() {
            this.getActiveUser()
        }
    }
</script>
