<template>
	<div class="side-nav">
		<div class="side-nav-box">
			<div class="title">Main Menu</div>
			<div class="main-menu">
				<ul>
					<li>
						<router-link :to="{ name: 'home' }">
							<i class="fa fa-reorder"></i> 
							<span>Home</span>
						</router-link>
					</li>
					<li>
						<router-link :to="{ name: 'videos' }">
							<i class="fa fa-image"></i> 
							<span>Pengaturan Video</span>
						</router-link>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		methods: {
			initNav() {
				$('.side-nav').find('.main-menu').find('a').each(function() {
					if ($(this).parent().find('ul').length > 0) {
						$(this).attr('href', 'javascript:;')
					}

					$(this).off()
					$(this).on('click', function() {
						var li = $(this).parent()
						if ($(li).parent().parent().hasClass('main-menu')) {
							if (!$(li).hasClass('active')) {
								$('.side-nav').find('.main-menu > ul > li').removeClass('active')
								$(li).addClass('active')
							} else {
								$(li).removeClass('active')
							}
						}
					})
				})
			}
		},
		mounted() {
			this.initNav()
		}
    }
</script>