<template>
	<div class="top-nav">
		<div class="top-nav-box">
			<div class="side-nav-mobile">
				<i class="pe-7s-keypad"></i>
			</div>
			<div class="user-profile">
				<div class="user-image">
					<div class="image">
						<img src="/app/images/profile.jpg">
					</div>
				</div>
				<div class="dropdown">
					<div class="info">
						<div class="user-name">{{ activeUser.name }}</div>
						<div class="user-group">Administrator</div>
					</div>
					<div class="dropdown-list">
						<a href="javascript:;" @click="logout">Logout</a>
					</div>
				</div>
			</div>
			<div class="profile-nav-mobile">
				<i class="pe-7s-config"></i>
			</div>
		</div>
	</div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
    	computed: {
            ...mapGetters({
                activeUser: 'global/activeUser'
            })
        },
        methods: {
        	hideAllNotifications() {
        		$('body').removeClass('mask')
        		$('.quick-link').find('ul').hide()
        		$('.user-profile').find('.dropdown').hide()
        		$('.messages').find('.messages-box').hide()
        		$('.notification').find('.notification-box').find('.notification-content').hide()
        	},
        	initNotification() {
        		var self = this
        		$('.notification').find('.notification-box').each(function() {
        			$(this).on('click', function() {
        				if ($(this).find('.notification-content').is(':visible')) {
        					$('body').removeClass('mask')
        					$(this).find('.notification-content').hide()
        				} else {
        					self.hideAllNotifications()
        					$('body').addClass('mask')
        					$(this).find('.notification-content').show()
        				}
        			})
        		})

        		$('.notification').find('.notification-box').each(function() {
        			$(this).find('.content').slimScroll({
        				color: 'rgb(142, 142, 142)',
        				height: 270
        			})
        		})
        	},
        	initMessages() {
        		var self = this
        		$('.messages').on('click', function() {
        			if ($(this).find('.messages-box').is(':visible')) {
        				$('body').removeClass('mask')
        				$(this).find('.messages-box').hide()
        			} else {
        				self.hideAllNotifications()
        				$('body').addClass('mask')
        				$(this).find('.messages-box').show()
        			}
        		})

        		$('.messages').find('.content').slimScroll({
        			color: 'rgb(142, 142, 142)',
        			height: 250
        		})
        	},
        	initQuickLink() {
        		var self = this
        		$('.quick-link').on('click', function() {
        			if ($(this).find('ul').is(':visible')) {
        				$('body').removeClass('mask')
        				$(this).find('ul').hide()
        			} else {
        				self.hideAllNotifications()
        				$('body').addClass('mask')
        				$(this).find('ul').show()
        			}
        		})
        	},
        	hideAllMenu() {
        		$('body').removeClass('mask')
        		$('.user-profile').hide()
        		$('.side-nav').hide()
        	},
        	initProfileNav() {
        		var self = this
        		$('.user-profile').on('click', function() {
        			if ($(window).width() > 1100) {
        				if ($(this).find('.dropdown').is(':visible')) {
        					$('body').removeClass('mask')
        					$(this).find('.dropdown').hide()
        				} else {
        					self.hideAllNotifications()
        					$('body').addClass('mask')
        					$(this).find('.dropdown').show()
        				}
        			}
        		})
        	},
        	initMobileProfileNav() {
        		var self = this
        		$('.profile-nav-mobile').on('click', function() {
        			if ($('.user-profile').is(':visible')) {
        				$('body').removeClass('mask')
        				$('.user-profile').hide()
        			} else {
        				self.hideAllMenu()
        				$('body').addClass('mask')
        				$('.user-profile').show()
        			}
        		})
        	},
        	initMobileNav() {
        		var self = this
        		$('.side-nav-mobile').on('click', function() {
        			if ($('.side-nav').is(':visible')) {
        				$('body').removeClass('mask')
        				$('.side-nav').hide()
        			} else {
        				self.hideAllMenu()
        				$('body').addClass('mask')
        				$('.side-nav').show()
        			}
        		})
        	},
        	initResponsiveSideNav() {
        		if ($(window).width() <= 1100) {
        			$('.side-nav').find('.side-nav-box').slimScroll({
        				color: 'rgb(142, 142, 142)',
        				height: $(window).height() - 60
        			})
        		}
        	},
            logout() {
            	localStorage.removeItem('user')
            	this.$router.push({
            		name: 'login'
            	})
            }
        },
        mounted() {
        	this.initResponsiveSideNav()
        	this.initMobileNav()
        	this.initProfileNav()
        	this.initMobileProfileNav()
        	this.initQuickLink()
        	this.initMessages()
        	this.initNotification()
        }
    }
</script>