<template>
    <div class="main">
        <div class="simple-welcome-text">
            <div class="text">Dashboard</div>
            <div class="info">Welcome Administrator, <i class="fa fa-map-marker"></i> New York City</div>
        </div>
    </div>
</template>

