@import url(https://fonts.googleapis.com/css?family=Lora:400,700);@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);@font-face {
  font-family: 'Gotham-Black';
  src: url(/fonts/Gotham-Black.otf?13c840dc081e6ab6565e27a467856fbb);
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url(/fonts/Gotham-Bold.otf?491690995b618360dff6122a7bf19332);
}

@font-face {
  font-family: 'Gotham-Book';
  src: url(/fonts/Gotham-Book.otf?9019ab71e2d2d6cc3c9f4140cb27a618);
}

@font-face {
  font-family: 'Gotham-Light';
  src: url(/fonts/Gotham-Light.otf?0ff4bccb0c544c4b15f5cc47c8bdee5f);
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url(/fonts/Gotham-Medium.otf?27a90e8757eda1edc9872eebec18ba64);
}

.modal-dialog {
  max-width: 90%;
  text-align: left;
}

.close_button {
  display: none;
}

.white {
  color: #fff;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

b {
  font-family: "Gotham-Bold" !important;
}

.main-title {
  font-family: "Gotham-Bold";
  font-size: 40px;
}

.nav-social_wrapper .nav-social {
  border-radius: 50%;
  background-color: #fff;
  color: #e81e28;
  width: 25px;
  text-align: center;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.nav-social_wrapper .nav-social:hover {
  background-color: #e81e28;
  color: #fff;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  text-decoration: none;
}

body {
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7;
  padding: 0.25rem 0rem;
}

header.scroll {
  position: fixed;
  background-color: rgba(232, 30, 40, 0.9);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

header .main-nav {
  margin-top: 1.25rem;
}

header .main-nav .nav-item {
  margin-right: 0.75rem;
}

header .main-nav .nav-item:last-child {
  margin-right: 0rem;
}

header .main-nav .nav-link {
  font-family: "Gotham-Bold";
  font-size: 16px;
  background-color: #222222;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

header .main-nav .nav-link.red {
  color: #e81e28;
}

header .main-nav .nav-link.white {
  color: #fff;
}

.banner_top {
  background-color: #e71f30;
}

.banner_top .owl-carousel {
  z-index: 3;
  position: relative;
}

.banner_top .owl-carousel img {
  width: auto;
}

.banner_top .owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner_top .owl-carousel .owl-dots .owl-dot span {
  width: 18px;
  height: 18px;
  margin: 5px 3px;
  border: 3px solid #fff;
  background: transparent;
}

.banner_top .owl-carousel .owl-dots .owl-dot.active span,
.banner_top .owl-carousel .owl-dots .owl-dot:hover span {
  background-color: #fff;
}

.banner_top .bg-image {
  background-position: 180px -25px;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative;
  height: 750px;
}

.banner_top .bg-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/banner-top-left2.png?074387db09b5210d776a621e404d5624);
}

.banner_top .bg-image.banner-1 {
  background-size: 90%;
  background-position: 500px 0px;
}

.banner_top .bg-image .container {
  position: relative;
  z-index: 2;
}

.banner_top .content_wrapper {
  color: #fff;
}

.banner_top .content_wrapper .story_wrapper {
  font-family: "Gotham-Book";
  font-size: 18px;
  margin-bottom: 1rem;
}

.banner_top .content_wrapper .story_wrapper .story_by {
  font-family: "Gotham-Bold";
  margin-top: 0.25rem;
}

.banner_top .content_wrapper .content_bottom {
  font-family: "Gotham-Bold";
  font-size: 28px;
  width: 90%;
  line-height: 1.2;
}

.banner_top .content_wrapper .content_bottom p {
  margin-bottom: 0.25rem;
}

.banner_top .content_wrapper .content {
  width: 50%;
}

.banner_top .content_wrapper .content .logo_wrapper {
  width: 85%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.banner_top .content_wrapper .content .logo_wrapper img {
  margin: 0 auto;
}

.banner_top .btn-white {
  font-family: "Gotham-Black";
  font-size: 14px;
  color: #d21c28;
  background-color: #fff;
  padding: 0.25rem 0.5rem;
}

.banner_top .btn-white:hover {
  background-color: #d21c28;
  color: #fff;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.cara_ikutan {
  background-color: #e71f30;
  position: relative;
  background-blend-mode: multiply;
  background-image: url(/images/overlay.png?af68b4e1f12f6f520743ef3e736d5467);
  background-size: cover;
  background-position: center center;
  padding: 2rem 0rem;
}

.cara_ikutan .content {
  margin-top: 2rem;
}

.cara_ikutan .content .col-cara {
  margin-bottom: 2rem;
}

.cara_ikutan .subtitle {
  min-height: 150px;
}

.cara_ikutan .subtitle .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 80px;
}

.cara_ikutan .subtitle .number {
  position: absolute;
  left: 15%;
  top: 30%;
  font-family: "Gotham-Bold";
  font-size: 32px;
  color: #e71f30;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 4px;
  text-align: center;
  line-height: 1;
  display: inline-block;
  margin-right: 1.5rem;
}

.cara_ikutan .subtitle .icon {
  display: inline-block;
  color: #fff;
  font-size: 65px;
  line-height: 1;
}

.cara_ikutan .subtitle .bottom {
  padding: 0rem 0.25rem;
  font-size: 30px;
  font-family: "Gotham-Bold";
  text-align: center;
  color: #fff;
  line-height: 1.1;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5rem;
}

.cara_ikutan .description {
  margin-top: 0.75rem;
  color: #fff;
  line-height: 27px;
  font-family: "Gotham-Light";
  text-align: center;
  font-size: 14px;
}

.cara_ikutan .description .social-media {
  text-align: left;
  margin-top: 15px;
  margin-left: 30px;
}

.cara_ikutan .description .social-media .nav-social {
  border-radius: 50%;
  margin-top: 5px;
  background-color: #fff;
  color: #e81e28;
  width: 25px;
  text-align: center;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.cara_ikutan .description .social-media .nav-social:hover {
  background-color: #e81e28;
  color: #fff;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  text-decoration: none;
}

.cara_ikutan .syarat_ketentuan {
  margin-top: 2rem;
}

.cara_ikutan .syarat_ketentuan .btn-black {
  color: #fff;
  background-color: #000000;
  border-radius: 0.75rem;
  font-family: "Gotham-Medium";
  padding: 0.5rem 1rem;
}

.cara_ikutan .syarat_ketentuan .btn-black h3 {
  font-size: 30px;
  font-family: "Gotham-Bold";
  margin-bottom: 0px;
  line-height: 1;
}

@media (max-width: 425px) {
  .cara_ikutan .syarat_ketentuan .btn-black h3 {
    font-size: 22px;
  }
}

.cara_ikutan .syarat_ketentuan .btn-black:hover {
  color: #000;
  background-color: #fff;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.story-banner {
  overflow: hidden;
  background-position: -360px -250px;
  background-image: url(/images/story.png?3df8752438a9331c7917a3ffcde9ab5b);
}

.story-banner .content {
  position: relative;
  padding: 70px 0px;
}

.story-banner .content .main-title {
  font-size: 40px;
  position: relative;
  margin-left: 50%;
  font-family: "Gotham-Bold";
}

@media (max-width: 1200px) {
  .story-banner .content .main-title {
    margin-left: 0px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
}

.story-banner .content .description {
  width: 500px;
  line-height: 27px;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 50%;
  position: relative;
  font-family: "Gotham-Light";
}

@media (max-width: 1200px) {
  .story-banner .content .description {
    width: 100%;
    margin-left: 0px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
}

.story-banner .content:before {
  content: "";
  width: 2000px;
  height: 1500px;
  background: #000;
  margin-top: -150px;
  margin-left: 29%;
  position: absolute;
  -webkit-transform: rotate(22deg);
  transform: rotate(22deg);
}

@media (max-width: 525px) {
  .story-banner .content:before {
    display: none;
  }
}

@media (max-width: 1200px) {
  .story-banner .content:after {
    content: "";
    top: 0px;
    left: -200px;
    width: 300%;
    height: 100%;
    background: rgba(0, 0, 0, 0.33);
    position: absolute;
  }
}

.main-video {
  overflow: hidden;
  position: relative;
  background: #e71f30;
}

.main-video:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(/images/bg-main-video.png?01539f0d6e0b511030fbb293f7ab6b69);
}

.main-video .content {
  position: relative;
  padding: 3rem 0rem;
}

.main-video .content .main-title {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: "Gotham-Bold";
}

.main-video .content iframe {
  width: 80%;
  height: 450px;
  border: 0px;
  display: block;
  margin: 0px auto;
}

@media (max-width: 1150px) {
  .main-video .content iframe {
    height: auto;
  }
}

.main-video .content .subtitle {
  color: #fff;
  font-size: 22px;
  margin-top: 40px;
  font-family: "Gotham-Bold";
}

.main-video .content .description {
  color: #fff;
  margin-top: 15px;
  font-family: "Gotham-Light";
}

.video-list {
  overflow: hidden;
  position: relative;
  background: #e71f30;
}

.video-list:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-position: 0px -150px;
  background-image: url(/images/bg-list-video.png?90bc0c691a3e821f391a4337ba5e30a1);
}

.video-list .content {
  padding: 3rem 0rem;
}

.video-list .content .main-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  font-family: "Gotham-Bold";
}

.video-list .content iframe {
  width: 100%;
  border: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.video-list .content .video {
  cursor: pointer;
  position: relative;
}

.video-list .content .video:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-list .content .video .title {
  color: #fff;
  margin-top: 15px;
  padding: 0px 15px;
  font-family: "Gotham-Bold";
}

.video-list .content .video .info {
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  padding: 0px 15px;
  margin-bottom: 35px;
}

.video-list .content .bullets {
  margin-top: 20px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-list .content .bullets .bullet {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0px 3px;
  border: 3px solid #fff;
  border-radius: 50px;
}

.video-list .content .bullets .bullet:hover {
  background: #fff;
}

.video-list .content .bullets .bullet.active {
  background: #fff;
}

.video-list .preview {
  height: auto;
}

.reward {
  overflow: hidden;
  position: relative;
}

.reward .content {
  position: relative;
  padding: 3rem 0rem 6rem 0rem;
}

.reward .content .main-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Gotham-Bold";
}

@media (max-width: 1150px) {
  .reward .content .main-title {
    margin-left: 45%;
  }
}

@media (max-width: 992px) {
  .reward .content .main-title {
    margin-left: 0px;
    text-align: center;
  }
}

.reward .content .description {
  width: 800px;
  margin: 0px auto;
  line-height: 27px;
  font-size: 14px;
  text-align: center;
  position: relative;
  font-family: "Gotham-Light";
}

@media (max-width: 1150px) {
  .reward .content .description {
    margin-left: 45%;
  }
}

@media (max-width: 992px) {
  .reward .content .description {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
}

.reward .content .reward-1 {
  margin-left: 50%;
  margin-top: 100px;
  position: relative;
}

@media (max-width: 992px) {
  .reward .content .reward-1 {
    max-width: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

.reward .content .reward-1 .no {
  top: -37px;
  color: #e71f30;
  font-size: 145px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-1 .no {
    font-size: 130px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-1 .no {
    font-size: 90px;
    position: relative;
    text-align: center;
  }
}

.reward .content .reward-1 .text {
  font-size: 40px;
  margin-left: 70px;
  font-family: "Gotham-Bold";
}

@media (max-width: 525px) {
  .reward .content .reward-1 .text {
    font-size: 35px;
    margin-left: 0px;
    margin-top: -60px;
    text-align: center;
  }
}

.reward .content .reward-1 img {
  width: 80%;
  margin-left: 70px;
}

@media (max-width: 992px) {
  .reward .content .reward-1 img {
    width: 372px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-1 img {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
}

.reward .content .reward-section-4 {
  margin-left: 9%;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 {
    margin-top: 50px;
    margin-left: 0px;
  }
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .period {
    text-align: center;
  }
}

.reward .content .reward-section-4 .period .text {
  font-size: 28px;
  line-height: 55px;
  font-family: "Gotham-Black";
}

.reward .content .reward-section-4 .period .text span {
  font-size: 60px;
  color: #e71f30;
}

.reward .content .reward-section-4 .period .month {
  font-size: 19px;
  margin-top: -10px;
  font-family: "Gotham-Medium";
}

.reward .content .reward-section-4 .reward-11 {
  position: relative;
  margin-left: -50px;
  margin-top: 40px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-11 {
    max-width: 350px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
}

.reward .content .reward-section-4 .reward-11 .no {
  top: -15px;
  left: 270px;
  color: #e71f30;
  font-size: 90px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-11 .no {
    top: 175px;
    left: 30px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-11 .no {
    top: -30px;
    left: 0px;
    font-size: 90px;
    position: relative;
    text-align: center;
  }
}

.reward .content .reward-section-4 .reward-11 .text {
  width: 100px;
  top: 10px;
  left: 340px;
  line-height: 48px;
  font-size: 45px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-11 .text {
    top: 200px;
    left: 100px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-11 .text {
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 35px;
    margin-left: 0px;
    margin-top: -60px;
    text-align: center;
    position: relative;
  }
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-11 img {
    width: 70%;
    display: block;
    margin: 0px auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-11 img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.reward .content .reward-section-4 .reward-12 {
  position: relative;
  margin-left: 550px;
  margin-top: -180px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-12 {
    max-width: 350px;
    margin-top: 195px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-12 {
    margin-top: 20px;
  }
}

.reward .content .reward-section-4 .reward-12 .no {
  top: 5px;
  left: 150px;
  color: #e71f30;
  font-size: 90px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-12 .no {
    top: 245px;
    left: 70px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-12 .no {
    top: -10px;
    left: 0px;
    font-size: 90px;
    position: relative;
    text-align: center;
  }
}

.reward .content .reward-section-4 .reward-12 .text {
  width: 180px;
  top: 30px;
  left: 200px;
  line-height: 48px;
  font-size: 45px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-12 .text {
    top: 270px;
    left: 120px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-12 .text {
    top: 20px;
    left: 0px;
    width: 100%;
    font-size: 35px;
    margin-left: 0px;
    margin-top: -60px;
    text-align: center;
    position: relative;
  }
}

.reward .content .reward-section-4 .reward-12 img {
  margin-top: -25px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-12 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-12 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}

.reward .content .reward-section-4 .reward-13 {
  position: relative;
  margin-left: 30px;
  margin-top: 0px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-13 {
    max-width: 350px;
    margin-top: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-13 {
    margin-top: 20px;
  }
}

.reward .content .reward-section-4 .reward-13 .no {
  top: -15px;
  left: 220px;
  color: #e71f30;
  font-size: 90px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-13 .no {
    top: 225px;
    left: 70px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-13 .no {
    top: -10px;
    left: 0px;
    font-size: 90px;
    position: relative;
    text-align: center;
  }
}

.reward .content .reward-section-4 .reward-13 .text {
  width: 100px;
  top: 10px;
  left: 290px;
  line-height: 48px;
  font-size: 45px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-13 .text {
    top: 250px;
    left: 140px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-13 .text {
    top: 20px;
    left: 0px;
    width: 100%;
    font-size: 35px;
    margin-left: 0px;
    margin-top: -60px;
    text-align: center;
    position: relative;
  }
}

.reward .content .reward-section-4 .reward-13 img {
  margin-top: -20px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-13 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-13 img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

.reward .content .reward-section-4 .reward-14 {
  position: relative;
  margin-left: 500px;
  margin-top: -180px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-14 {
    max-width: 350px;
    margin-top: 165px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-14 {
    margin-top: 20px;
  }
}

.reward .content .reward-section-4 .reward-14 .no {
  top: -5px;
  left: 240px;
  color: #e71f30;
  font-size: 90px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-14 .no {
    top: 225px;
    left: 60px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-14 .no {
    top: -10px;
    left: 0px;
    font-size: 90px;
    position: relative;
    text-align: center;
  }
}

.reward .content .reward-section-4 .reward-14 .text {
  width: 100px;
  top: 20px;
  left: 310px;
  line-height: 48px;
  font-size: 45px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-14 .text {
    top: 250px;
    left: 130px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-14 .text {
    top: 20px;
    left: 0px;
    width: 100%;
    font-size: 35px;
    margin-left: 0px;
    margin-top: -60px;
    text-align: center;
    position: relative;
  }
}

@media (max-width: 992px) {
  .reward .content .reward-section-4 .reward-14 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-4 .reward-14 img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

.reward .content .reward-section-5 {
  margin-top: 50px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 {
    margin-top: 150px;
    margin-left: 0px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 {
    margin-top: 50px;
  }
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .period {
    text-align: center;
  }
}

.reward .content .reward-section-5 .period .text {
  font-size: 28px;
  line-height: 55px;
  font-family: "Gotham-Black";
}

.reward .content .reward-section-5 .period .text span {
  font-size: 60px;
  color: #e71f30;
}

.reward .content .reward-section-5 .period .month {
  font-size: 19px;
  margin-top: -10px;
  font-family: "Gotham-Medium";
}

.reward .content .reward-section-5 .reward-15 {
  position: relative;
  margin-left: 0px;
  margin-top: 40px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-15 {
    max-width: 350px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
}

.reward .content .reward-section-5 .reward-15 .no {
  top: -15px;
  left: 270px;
  color: #e71f30;
  font-size: 90px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-15 .no {
    top: 175px;
    left: 30px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-15 .no {
    top: -30px;
    left: 0px;
    font-size: 90px;
    position: relative;
    text-align: center;
  }
}

.reward .content .reward-section-5 .reward-15 .text {
  width: 100px;
  top: 10px;
  left: 340px;
  line-height: 48px;
  font-size: 45px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-15 .text {
    top: 200px;
    left: 100px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-15 .text {
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 35px;
    margin-left: 0px;
    margin-top: -60px;
    text-align: center;
    position: relative;
  }
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-15 img {
    width: 70%;
    display: block;
    margin: 0px auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-15 img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.reward .content .reward-section-5 .reward-16 {
  position: relative;
  margin-left: 590px;
  margin-top: -180px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-16 {
    max-width: 350px;
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-16 {
    margin-top: 20px;
  }
}

.reward .content .reward-section-5 .reward-16 .no {
  top: 5px;
  left: 220px;
  color: #e71f30;
  font-size: 90px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-16 .no {
    top: 245px;
    left: 50px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-16 .no {
    top: -10px;
    left: 0px;
    font-size: 90px;
    position: relative;
    text-align: center;
  }
}

.reward .content .reward-section-5 .reward-16 .text {
  width: 180px;
  top: 30px;
  left: 280px;
  line-height: 48px;
  font-size: 45px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-16 .text {
    top: 270px;
    left: 120px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-16 .text {
    top: 20px;
    left: 0px;
    width: 100%;
    font-size: 35px;
    margin-left: 0px;
    margin-top: -60px;
    text-align: center;
    position: relative;
  }
}

.reward .content .reward-section-5 .reward-16 img {
  margin-top: -50px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-16 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-16 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}

.reward .content .reward-section-5 .reward-17 {
  position: relative;
  margin-left: 20px;
  margin-top: 70px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-17 {
    max-width: 350px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-17 {
    margin-top: 20px;
  }
}

.reward .content .reward-section-5 .reward-17 .no {
  top: -15px;
  left: 330px;
  color: #e71f30;
  font-size: 90px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-17 .no {
    top: 180px;
    left: 60px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-17 .no {
    top: -10px;
    left: 0px;
    font-size: 90px;
    position: relative;
    text-align: center;
  }
}

.reward .content .reward-section-5 .reward-17 .text {
  width: 100px;
  top: 10px;
  left: 385px;
  line-height: 48px;
  font-size: 45px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-17 .text {
    top: 205px;
    left: 110px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-17 .text {
    top: 20px;
    left: 0px;
    width: 100%;
    font-size: 35px;
    margin-left: 0px;
    margin-top: -60px;
    text-align: center;
    position: relative;
  }
}

.reward .content .reward-section-5 .reward-17 img {
  margin-top: -20px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-17 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-17 img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

.reward .content .reward-section-5 .reward-18 {
  position: relative;
  margin-left: 600px;
  margin-top: -180px;
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-18 {
    max-width: 350px;
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-18 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.reward .content .reward-section-5 .reward-18 .no {
  top: -5px;
  left: 240px;
  color: #e71f30;
  font-size: 90px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-18 .no {
    top: 180px;
    left: 60px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-18 .no {
    top: -10px;
    left: 0px;
    font-size: 90px;
    position: relative;
    text-align: center;
  }
}

.reward .content .reward-section-5 .reward-18 .text {
  width: 100px;
  top: 20px;
  left: 290px;
  line-height: 48px;
  font-size: 45px;
  position: absolute;
  font-family: "Gotham-Bold";
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-18 .text {
    top: 205px;
    left: 110px;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-18 .text {
    top: 20px;
    left: 0px;
    width: 100%;
    font-size: 35px;
    margin-left: 0px;
    margin-top: -60px;
    text-align: center;
    position: relative;
  }
}

@media (max-width: 992px) {
  .reward .content .reward-section-5 .reward-18 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 525px) {
  .reward .content .reward-section-5 .reward-18 img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

footer {
  padding: 0.5rem 0rem;
  background: #0d0d0d;
  color: #fff;
  font-size: 12px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #e71f30;
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}

@media (max-width: 525px) {
  footer {
    text-align: center;
  }
}

/*RESPONSIVE YVONNE*/

@media (max-width: 1200px) and (min-width: 992px) {
  .banner_top .bg-image {
    background-position: 60%;
  }
}

@media (max-width: 992px) {
  .banner_top .bg-image {
    background-position: 60%;
    background-position: center center;
    padding-top: 120px;
    padding-bottom: 3rem;
  }

  .banner_top .bg-image:before {
    background-color: rgba(231, 31, 48, 0.85);
    background-image: unset;
    width: 100%;
  }

  .banner_top .content_wrapper .content {
    width: 100%;
  }

  .banner_top .content_wrapper .content .logo_wrapper {
    width: 100%;
  }

  .banner_top .content_wrapper .content .content_bottom {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .banner_top .content_wrapper .content .content_bottom .btn_wrapper {
    margin-top: 0.75rem;
  }

  .banner_top .content_wrapper .story_wrapper {
    font-size: 14px;
    margin-bottom: 2rem;
    text-align: center;
  }

  .show-nav {
    overflow-y: hidden;
  }
}

@media (max-width: 992px) and (max-width: 992px) {
  .show-nav header .nav-right {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (max-width: 992px) {
  header .navbar-toggler {
    border: 0px;
    padding: 0px;
  }

  header .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  header .nav-right {
    position: fixed;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    -webkit-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;
    top: 0;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0;
    margin-left: 0px !important;
    padding: 2rem 3rem;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header .main-nav {
    display: inline-block;
    text-align: center;
    width: 40%;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    margin-top: 1.5rem;
  }

  header .main-nav .nav-item {
    margin-bottom: 0.75rem;
    margin-right: 0rem;
  }

  header .main-nav .nav-item a {
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 992px) and (max-width: 768px) {
  header .main-nav {
    width: 100%;
  }
}

@media (max-width: 992px) {
  header .close_button {
    display: block;
    position: absolute;
    top: 30px;
    right: 50px;
  }

  header .close_button .btn-nav-close {
    padding: 0px;
    font-size: 50px;
    color: #e71f30;
    background: transparent;
    display: block;
    text-align: center;
    line-height: 1;
  }
}

@media (max-width: 768px) {
  footer .d-flex {
    display: block !important;
  }

  .copyright_wrapper {
    margin-bottom: 0.25rem;
  }
}

