@import 'mixin';

@font-face {
    font-family: 'Gotham-Black';
    src: url(../fonts/Gotham-Black.otf);
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: 'Gotham-Light';
    src: url(../fonts/Gotham-Light.otf);
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url(../fonts/Gotham-Medium.otf);
}

@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$mainred: #e71f30;
$red2: #e81e28;
$navred: #e81e28;
$fontblack: 'Gotham-Black';
$fontbold: 'Gotham-Bold';
$fontbook: 'Gotham-Book';
$fontlight: 'Gotham-Light';
$fontmedium: 'Gotham-Medium';

.modal-dialog {
	max-width: 90%;
	text-align: left;
}

.close_button {
	display: none;
}

.white{
	color:#fff;
}

.btn{
	&:focus{
		box-shadow:none;
	}
}

b{
	font-family:$fontbold !important;
}

.main-title{
	font-family:$fontbold;
	font-size:40px;
}

.nav-social_wrapper{
	.nav-social{
		border-radius:50%;
		background-color:#fff;
		color:$red2;
	    width: 25px;
	    text-align: center;
	    height: 25px;
	    display: inline-flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 18px;
	    &:hover{
	    	background-color:$red2;
	    	color:#fff;
	    	transition:0.3s all ease-in;
	    	text-decoration:none;
	    }
	}
}

body{
	position:relative;
}

header{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
	padding:0.25rem 0rem;
	&.scroll {
		position: fixed;
		background-color: rgba(232,30,40,0.9);
		@include transition(all 0.6s ease);
        @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));
	}
	.main-nav{
		margin-top:1.25rem;
		.nav-item{
			margin-right:0.75rem;
			&:last-child{
				margin-right:0rem;
			}
		}
		.nav-link{
			font-family:$fontbold;
			font-size:16px;
			background-color:#222222;
		    padding: 0.25rem 0.5rem;
		    border-radius: 0.5rem;
		    &.red{
		    	color:$navred;
		    }
		    &.white{
		    	color:#fff;
		    }
		}
	}
}

.banner_top{
	background-color:$mainred;
	.owl-carousel{
		z-index:3;
		position:relative;
		img{
			width:auto;
		}
		.owl-dots{
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			.owl-dot{
				span{
					width:18px;
					height:18px;
				    margin: 5px 3px;
			        border: 3px solid #fff;	
			        background:transparent;				
				}
				&.active,&:hover{
					span{
						background-color:#fff;
					}
				}
			}
		}
	}
	.bg-image{
		background-position: 180px -25px;
		background-repeat:no-repeat;
		padding-top:150px;
		padding-bottom:50px;
		position:relative;
		height: 750px;
		&:before{
			content: '';
		  	position: absolute;
		  	top: 0; 
		  	left: 0;
		  	width: 65%; 
		  	height: 100%;
		  	background-repeat:no-repeat;
		  	background-size:cover;
		  	background-image:url('../images/banner-top-left2.png');
		}
		&.banner-1 {
			background-size: 90%;
			background-position: 500px 0px;
		}
		.container{
			position:relative;
			z-index:2;
		}
	}
	.content_wrapper{
		color:#fff;
		.story_wrapper{
			font-family:$fontbook;
			font-size:18px;
			margin-bottom:1rem;
			.story_by{
				font-family:$fontbold;
				margin-top:0.25rem;
			}
		}
		.content_bottom{
			font-family:$fontbold;
			font-size:28px;
			width:90%;
			line-height:1.2;
			p{
				margin-bottom:0.25rem;
			}
		}
		.content{
			width:50%;
			.logo_wrapper{
				width:85%;
				text-align:center;
				margin-bottom:0.5rem;
				img{
					margin:0 auto;
				}
			}
		}
	}
	.btn-white{
		font-family:$fontblack;
		font-size:14px;
		color:#d21c28;
		background-color:#fff;
		padding: 0.25rem 0.5rem;
		&:hover{
			background-color:#d21c28;
			color:#fff;
			transition:0.3s all ease-in;
		}
	}
}
.cara_ikutan{
	background-color:$mainred;
	position:relative;
	background-blend-mode: multiply;
	background-image:url('../images/overlay.png');
	background-size:cover;
    background-position: center center;
	padding:2rem 0rem;
	.content{
		margin-top:2rem;
		.col-cara{
			margin-bottom:2rem;
		}
	}
	.subtitle{
		min-height:150px;
		.top{
			display:flex;
			align-items:center;
			justify-content:center;
			position:relative;
			height:80px;
		}
		.number{
		    position: absolute;
		    left: 15%;
		    top:30%;
			font-family:$fontbold;
			font-size:32px;
			color:$mainred;
			background-color: #fff;
		    border-radius: 50%;
		    width: 40px;
		    height: 40px;
		    padding: 4px;
		    text-align: center;
		    line-height: 1;
		    display:inline-block;
		    margin-right: 1.5rem;
		}
		.icon{
			display:inline-block;
			color:#fff;
			font-size:65px;
			line-height:1;
		}
		.bottom{
			padding:0rem 0.25rem;
			font-size:30px;
			font-family:$fontbold;
			text-align:center;
			color:#fff;
			line-height:1.1;
			height:72px;
			display:flex;
			align-items:center;
			justify-content:center;
			margin-top:0.5rem;
		}
	}
	.description{
		margin-top:0.75rem;
		color:#fff;
		line-height: 27px;
		font-family:$fontlight;
		text-align:center;
		font-size:14px;
		.social-media {
			text-align: left;
			margin-top: 15px;
			margin-left: 30px;
			.nav-social{
				border-radius:50%;
				margin-top: 5px;
				background-color:#fff;
				color:$red2;
			    width: 25px;
			    text-align: center;
			    height: 25px;
			    display: inline-flex;
			    align-items: center;
			    justify-content: center;
			    font-size: 18px;
			    &:hover{
			    	background-color:$red2;
			    	color:#fff;
			    	transition:0.3s all ease-in;
			    	text-decoration:none;
			    }
			}
		}
	}
	.syarat_ketentuan{
		margin-top:2rem;
		.btn-black{
			color:#fff;
			background-color:#000000;
			border-radius:0.75rem;
			font-family:$fontmedium;
			padding:0.5rem 1rem;
			h3{
				font-size:30px;
				font-family:$fontbold;
				margin-bottom:0px;
				line-height:1;
				@media(max-width:425px){
					font-size:22px;
				}
			}
			&:hover{
				color:#000;
				background-color:#fff;
				transition:0.3s all ease-in;
			}
		}
	}
}

.story-banner {
	overflow: hidden;
	background-position: -360px -250px;
	background-image: url('../images/story.png');
	.content {
		position: relative;
		padding: 70px 0px;
		.main-title {
			font-size: 40px;
			position: relative;
			margin-left: 50%;
			font-family: $fontbold;
			@media(max-width: 1200px) {
				margin-left: 0px;
				text-align: center;
				position: relative;
				z-index: 2;
			}
		}
		.description {
			width: 500px;
			line-height: 27px;
			font-size: 14px;
			margin-top: 30px;
			margin-left: 50%;
			position: relative;
			font-family: $fontlight;
			@media(max-width: 1200px) {
				width: 100%;
				margin-left: 0px;
				text-align: center;
				position: relative;
				z-index: 2;
			}
		}
		&:before {
			content: "";
			width: 2000px;
			height: 1500px;
			background: #000;
			margin-top: -150px;
			margin-left: 29%;
			position: absolute;
			@include rotate(22deg);
			@media(max-width: 525px) {
				display: none;
			}
		}
		@media(max-width: 1200px) {
			&:after {
				content: "";
				top: 0px;
				left: -200px;
				width: 300%;
				height: 100%;
				background: rgba(0, 0, 0, 0.33);
				position: absolute;
			}
		}
	}
}

.main-video {
	overflow: hidden;
	position: relative;
	background: $mainred;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-image: url('../images/bg-main-video.png');
	}
	.content {
		position: relative;
		padding: 3rem 0rem;
		.main-title {
			font-size: 40px;
			margin-bottom: 40px;
			font-family: $fontbold;
		}
		iframe {
			width: 80%;
			height: 450px;
			border: 0px;
			display: block;
			margin: 0px auto;
			@media(max-width: 1150px) {
				height: auto;
			}
		}
		.subtitle {
			color: #fff;
			font-size: 22px;
			margin-top: 40px;
			font-family: $fontbold;
		}
		.description {
			color: #fff;
			margin-top: 15px;
			font-family: $fontlight;
		}
	}
}

.video-list {
	overflow: hidden;
	position: relative;
	background: $mainred;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background-repeat: no-repeat;
		background-size: 120% auto;
		background-position: 0px -150px;
		background-image: url('../images/bg-list-video.png');
	}
	.content {
		padding: 3rem 0rem;
		.main-title {
			font-size: 40px;
			text-align: center;
			margin-bottom: 40px;
			position: relative;
			font-family: $fontbold;
		}
		iframe {
			width: 100%;
			border: 0px;
			border: 1px solid rgba(255, 255, 255, 0.6);
		}
		.video {
			cursor: pointer;
			position: relative;
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
			}
			.title {
				color: #fff;
				margin-top: 15px;
				padding: 0px 15px;
				font-family: $fontbold;
			}
			.info {
				color: #fff;
				font-size: 14px;
				margin-top: 10px;
				padding: 0px 15px;
				margin-bottom: 35px;
			}
		}
		.bullets {
			margin-top: 20px;
			position: relative;
			justify-content: center;
			@include flexbox();
			.bullet {
				width: 18px;
				height: 18px;
				cursor: pointer;
				margin: 0px 3px;
				border: 3px solid #fff;
				@include border-radius(50px);
				&:hover {
					background: #fff;
				}
				&.active {
					background: #fff;
				}
			}
		}
	}
	.preview {
		height: auto;
	}
}

.reward {
	overflow: hidden;
	position: relative;
	// &:before {
	// 	content: "";
	// 	width: 91%;
	// 	height: 80%;
	// 	top: -27%;
	// 	left: -66%;
	// 	background: #000;
	// 	position: absolute;
	// 	@include rotate(30deg);
	// 	@media(max-width: 1150px) {
	// 		left: -70%;
	// 	}
	// 	@media(max-width: 992px) {
	// 		display: none;
	// 	}
	// }
	// &:after {
	// 	content: "";
	// 	width: 560px;
	// 	height: 760px;
	// 	top: 200px;
	// 	left: 40px;
	// 	position: absolute;
	// 	background-size: 100%;
	// 	background-repeat: no-repeat;
	// 	background-image: url('../images/motor-2.png');
	// 	@media(max-width: 1150px) {
	// 		width: 400px;
	// 		height: 600px;
	// 	}
	// 	@media(max-width: 992px) {
	// 		display: none;
	// 	}
	// }
	.content {
		position: relative;
		padding: 3rem 0rem 6rem 0rem;
		.main-title {
			font-size: 40px;
			text-align: center;
			margin-bottom: 30px;
			// margin-left: 50%;
			font-family: $fontbold;
			@media(max-width: 1150px) {
				margin-left: 45%;
			}
			@media(max-width: 992px) {
				margin-left: 0px;
				text-align: center;
			}
		}
		.description {
			width: 800px;
			margin: 0px auto;
			line-height: 27px;
			font-size: 14px;
			text-align: center;
			// margin-left: 50%;
			position: relative;
			font-family: $fontlight;
			@media(max-width: 1150px) {
				margin-left: 45%;
			}
			@media(max-width: 992px) {
				width: 100%;
				margin-left: 0px;
				text-align: center;
			}
		}
		// .main-title {
		// 	font-size: 40px;
		// 	margin-bottom: 30px;
		// 	margin-left: 50%;
		// 	font-family: $fontbold;
		// 	@media(max-width: 1150px) {
		// 		margin-left: 45%;
		// 	}
		// 	@media(max-width: 992px) {
		// 		margin-left: 0px;
		// 		text-align: center;
		// 	}
		// }
		// .description {
		// 	width: 500px;
		// 	line-height: 27px;
		// 	font-size: 14px;
		// 	margin-left: 50%;
		// 	position: relative;
		// 	font-family: $fontlight;
		// 	@media(max-width: 1150px) {
		// 		margin-left: 45%;
		// 	}
		// 	@media(max-width: 992px) {
		// 		width: 100%;
		// 		margin-left: 0px;
		// 		text-align: center;
		// 	}
		// }
		.reward-1 {
			margin-left: 50%;
			margin-top: 100px;
			position: relative;
			@media(max-width: 992px) {
				max-width: 450px;
				margin-top: 50px;
				margin-left: auto;
				margin-right: auto;
			}
			.no {
				top: -37px;
				color: $mainred;
				font-size: 145px;
				position: absolute;
				font-family: $fontbold;
				@media(max-width: 992px) {
					font-size: 130px;
				}
				@media(max-width: 525px) {
					font-size: 90px;
					position: relative;
					text-align: center;
				}
			}
			.text {
				font-size: 40px;
				margin-left: 70px;
				font-family: $fontbold;
				@media(max-width: 525px) {
					font-size: 35px;
					margin-left: 0px;
					margin-top: -60px;
					text-align: center;
				}
			}
			img {
				width: 80%;
				margin-left: 70px;
				@media(max-width: 992px) {
					width: 372px;
				}
				@media(max-width: 525px) {
					width: 100%;
					margin-left: 0px;
					margin-top: 20px;
				}
			}
		}
		// .reward-section-1 {
		// 	margin-left: 20%;
		// 	margin-top: 170px;
		// 	@media(max-width: 992px) {
		// 		margin-top: 50px;
		// 		margin-left: 0px;
		// 	}
		// 	.period {
		// 		@media(max-width: 992px) {
		// 			text-align: center;
		// 		}
		// 		.text {
		// 			font-size: 28px;
		// 			line-height: 55px;
		// 			font-family: $fontbold;
		// 			span {
		// 				color: $mainred;
		// 			}
		// 		}
		// 		.month {
		// 			font-family: $fontmedium;
		// 		}
		// 	}
		// 	.reward-2 {
		// 		position: relative;
		// 		margin-left: 200px;
		// 		margin-top: -70px;
		// 		@media(max-width: 992px) {
		// 			max-width: 350px;
		// 			margin-top: 35px;
		// 			margin-left: auto;
		// 			margin-right: auto;
		// 		}
		// 		.no {
		// 			top: -25px;
		// 			left: 190px;
		// 			color: $mainred;
		// 			font-size: 100px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 30px;
		// 				left: 120px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: -30px;
		// 				left: 0px;
		// 				font-size: 90px;
		// 				position: relative;
		// 				text-align: center;
		// 			}
		// 		}
		// 		.text {
		// 			width: 100px;
		// 			top: -2px;
		// 			left: 245px;
		// 			line-height: 55px;
		// 			font-size: 40px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 50px;
		// 				left: 185px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: 0px;
		// 				left: 0px;
		// 				width: 100%;
		// 				font-size: 35px;
		// 				margin-left: 0px;
		// 				margin-top: -60px;
		// 				text-align: center;
		// 				position: relative;
		// 			}
		// 		}
		// 		img {
		// 			@media(max-width: 992px) {
		// 				width: 100px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				width: 30%;
		// 				display: block;
		// 				margin-left: auto;
		// 				margin-right: auto;
		// 				margin-top: 20px;
		// 			}
		// 		}
		// 	}
		// 	.reward-3 {
		// 		position: relative;
		// 		margin-left: 400px;
		// 		margin-top: -180px;
		// 		@media(max-width: 992px) {
		// 			max-width: 350px;
		// 			margin-top: 35px;
		// 			margin-left: auto;
		// 			margin-right: auto;
		// 		}
		// 		.no {
		// 			top: -25px;
		// 			left: 215px;
		// 			color: $mainred;
		// 			font-size: 100px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 0px;
		// 				left: 125px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: -30px;
		// 				left: 0px;
		// 				font-size: 90px;
		// 				position: relative;
		// 				text-align: center;
		// 			}
		// 		}
		// 		.text {
		// 			width: 100px;
		// 			top: -2px;
		// 			left: 290px;
		// 			line-height: 55px;
		// 			font-size: 40px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 20px;
		// 				left: 210px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: 0px;
		// 				left: 0px;
		// 				width: 100%;
		// 				font-size: 35px;
		// 				margin-left: 0px;
		// 				margin-top: -60px;
		// 				text-align: center;
		// 				position: relative;
		// 			}
		// 		}
		// 		img {
		// 			@media(max-width: 992px) {
		// 				width: 170px;
		// 				margin-left: -65px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				width: 50%;
		// 				display: block;
		// 				margin-left: auto;
		// 				margin-right: auto;
		// 				margin-top: 20px;
		// 			}
		// 		}
		// 	}
		// }
		// .reward-section-2 {
		// 	margin-top: 80px;
		// 	@media(max-width: 992px) {
		// 		margin-top: 50px;
		// 		margin-left: 0px;
		// 	}
		// 	.period {
		// 		@media(max-width: 992px) {
		// 			text-align: center;
		// 		}
		// 		.text {
		// 			font-size: 28px;
		// 			line-height: 55px;
		// 			font-family: $fontbold;
		// 			span {
		// 				color: $mainred;
		// 			}
		// 		}
		// 		.month {
		// 			font-family: $fontmedium;
		// 		}
		// 	}
		// 	.reward-4 {
		// 		position: relative;
		// 		margin-left: 100px;
		// 		margin-top: 20px;
		// 		@media(max-width: 992px) {
		// 			max-width: 350px;
		// 			margin-top: 35px;
		// 			margin-left: auto;
		// 			margin-right: auto;
		// 		}
		// 		.no {
		// 			top: -25px;
		// 			left: 180px;
		// 			color: $mainred;
		// 			font-size: 80px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 0px;
		// 				left: 125px;
		// 				font-size: 100px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: -30px;
		// 				left: 0px;
		// 				font-size: 90px;
		// 				position: relative;
		// 				text-align: center;
		// 			}
		// 		}
		// 		.text {
		// 			width: 100px;
		// 			top: -2px;
		// 			left: 230px;
		// 			line-height: 40px;
		// 			font-size: 30px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 20px;
		// 				left: 190px;
		// 				font-size: 40px;
		// 				line-height: 55px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: 0px;
		// 				left: 0px;
		// 				width: 100%;
		// 				font-size: 35px;
		// 				margin-left: 0px;
		// 				margin-top: -60px;
		// 				text-align: center;
		// 				position: relative;
		// 			}
		// 		}
		// 		img {
		// 			@include transform(scale(0.9));
		// 			@media(max-width: 992px) {
		// 				width: 170px;
		// 				margin-left: -65px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				width: 50%;
		// 				display: block;
		// 				margin-left: auto;
		// 				margin-right: auto;
		// 				margin-top: 20px;
		// 			}
		// 		}
		// 	}
		// 	.reward-5 {
		// 		position: relative;
		// 		margin-left: 480px;
		// 		margin-top: -240px;
		// 		@media(max-width: 992px) {
		// 			max-width: 350px;
		// 			margin-top: 35px;
		// 			margin-left: auto;
		// 			margin-right: auto;
		// 		}
		// 		.no {
		// 			top: -10px;
		// 			left: 165px;
		// 			color: $mainred;
		// 			font-size: 80px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 30px;
		// 				left: 120px;
		// 				font-size: 100px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: -30px;
		// 				left: 0px;
		// 				font-size: 90px;
		// 				position: relative;
		// 				text-align: center;
		// 			}
		// 		}
		// 		.text {
		// 			width: 100px;
		// 			top: 10px;
		// 			left: 220px;
		// 			line-height: 40px;
		// 			font-size: 30px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 50px;
		// 				left: 185px;
		// 				font-size: 40px;
		// 				line-height: 55px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: 0px;
		// 				left: 0px;
		// 				width: 100%;
		// 				font-size: 35px;
		// 				margin-left: 0px;
		// 				margin-top: -60px;
		// 				text-align: center;
		// 				position: relative;
		// 			}
		// 		}
		// 		img {
		// 			@include transform(scale(0.9));
		// 			@media(max-width: 992px) {
		// 				width: 100px;
		// 				@include transform(scale(1));
		// 			}
		// 			@media(max-width: 525px) {
		// 				width: 30%;
		// 				display: block;
		// 				margin-left: auto;
		// 				margin-right: auto;
		// 				margin-top: 20px;
		// 			}
		// 		}
		// 	}
		// 	.reward-6 {
		// 		position: relative;
		// 		margin-left: 660px;
		// 		margin-top: -180px;
		// 		@media(max-width: 992px) {
		// 			max-width: 350px;
		// 			margin-top: 35px;
		// 			margin-left: auto;
		// 			margin-right: auto;
		// 		}
		// 		.no {
		// 			top: -25px;
		// 			left: 215px;
		// 			color: $mainred;
		// 			font-size: 80px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 0px;
		// 				left: 125px;
		// 				font-size: 100px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: -30px;
		// 				left: 0px;
		// 				font-size: 90px;
		// 				position: relative;
		// 				text-align: center;
		// 			}
		// 		}
		// 		.text {
		// 			width: 100px;
		// 			top: -2px;
		// 			left: 290px;
		// 			line-height: 40px;
		// 			font-size: 30px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 20px;
		// 				left: 210px;
		// 				font-size: 40px;
		// 				line-height: 55px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: 0px;
		// 				left: 0px;
		// 				width: 100%;
		// 				font-size: 35px;
		// 				margin-left: 0px;
		// 				margin-top: -60px;
		// 				text-align: center;
		// 				position: relative;
		// 			}
		// 		}
		// 		img {
		// 			@include transform(scale(0.9));
		// 			@media(max-width: 992px) {
		// 				width: 170px;
		// 				margin-left: -65px;
		// 				@include transform(scale(1));
		// 			}
		// 			@media(max-width: 525px) {
		// 				width: 50%;
		// 				display: block;
		// 				margin-left: auto;
		// 				margin-right: auto;
		// 				margin-top: 20px;
		// 			}
		// 		}
		// 	}
		// }
		// .reward-section-3 {
		// 	margin-top: 80px;
		// 	@media(max-width: 992px) {
		// 		margin-top: 50px;
		// 		margin-left: 0px;
		// 	}
		// 	.period {
		// 		@media(max-width: 992px) {
		// 			text-align: center;
		// 		}
		// 		.text {
		// 			font-size: 28px;
		// 			line-height: 55px;
		// 			font-family: $fontbold;
		// 			span {
		// 				color: $mainred;
		// 			}
		// 		}
		// 		.month {
		// 			font-family: $fontmedium;
		// 		}
		// 	}
		// 	.reward-7 {
		// 		position: relative;
		// 		margin-left: -30px;
		// 		margin-top: 20px;
		// 		@media(max-width: 992px) {
		// 			max-width: 350px;
		// 			margin-top: 35px;
		// 			margin-left: auto;
		// 			margin-right: auto;
		// 		}
		// 		.no {
		// 			top: 75px;
		// 			left: 210px;
		// 			z-index: 2;
		// 			color: $mainred;
		// 			font-size: 70px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 0px;
		// 				left: 125px;
		// 				font-size: 100px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: -30px;
		// 				left: 0px;
		// 				font-size: 90px;
		// 				position: relative;
		// 				text-align: center;
		// 			}
		// 		}
		// 		.text {
		// 			width: 100px;
		// 			top: 93px;
		// 			left: 255px;
		// 			line-height: 35px;
		// 			font-size: 28px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 20px;
		// 				left: 200px;
		// 				font-size: 40px;
		// 				line-height: 55px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: 0px;
		// 				left: 0px;
		// 				width: 100%;
		// 				font-size: 35px;
		// 				margin-left: 0px;
		// 				margin-top: -60px;
		// 				text-align: center;
		// 				position: relative;
		// 			}
		// 		}
		// 		img {
		// 			@include transform(scale(0.8));
		// 			@media(max-width: 992px) {
		// 				width: 170px;
		// 				margin-left: -65px;
		// 				@include transform(scale(1));
		// 			}
		// 			@media(max-width: 525px) {
		// 				width: 60%;
		// 				display: block;
		// 				margin-left: auto;
		// 				margin-right: auto;
		// 				margin-top: 20px;
		// 			}
		// 		}
		// 	}
		// 	.reward-8 {
		// 		position: relative;
		// 		margin-left: 360px;
		// 		margin-top: -190px;
		// 		@media(max-width: 992px) {
		// 			max-width: 350px;
		// 			margin-top: 35px;
		// 			margin-left: auto;
		// 			margin-right: auto;
		// 		}
		// 		.no {
		// 			top: -95px;
		// 			left: 10px;
		// 			color: $mainred;
		// 			font-size: 70px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 0px;
		// 				left: 125px;
		// 				font-size: 100px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: -30px;
		// 				left: 0px;
		// 				font-size: 90px;
		// 				position: relative;
		// 				text-align: center;
		// 			}
		// 		}
		// 		.text {
		// 			width: 100px;
		// 			top: -75px;
		// 			left: 55px;
		// 			line-height: 35px;
		// 			font-size: 28px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 20px;
		// 				left: 200px;
		// 				font-size: 40px;
		// 				line-height: 55px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: 0px;
		// 				left: 0px;
		// 				width: 100%;
		// 				font-size: 35px;
		// 				margin-left: 0px;
		// 				margin-top: -60px;
		// 				text-align: center;
		// 				position: relative;
		// 			}
		// 		}
		// 		img {
		// 			@include transform(scale(0.8));
		// 			@media(max-width: 992px) {
		// 				width: 170px;
		// 				margin-left: -65px;
		// 				@include transform(scale(1));
		// 			}
		// 			@media(max-width: 525px) {
		// 				width: 50%;
		// 				display: block;
		// 				margin-left: auto;
		// 				margin-right: auto;
		// 				margin-top: 20px;
		// 			}
		// 		}
		// 	}
		// 	.reward-9 {
		// 		position: relative;
		// 		margin-left: 555px;
		// 		margin-top: -285px;
		// 		@media(max-width: 992px) {
		// 			max-width: 350px;
		// 			margin-top: 35px;
		// 			margin-left: auto;
		// 			margin-right: auto;
		// 		}
		// 		.no {
		// 			top: 20px;
		// 			left: 160px;
		// 			color: $mainred;
		// 			font-size: 70px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 30px;
		// 				left: 120px;
		// 				font-size: 100px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: -30px;
		// 				left: 0px;
		// 				font-size: 90px;
		// 				position: relative;
		// 				text-align: center;
		// 			}
		// 		}
		// 		.text {
		// 			width: 100px;
		// 			top: 38px;
		// 			left: 210px;
		// 			line-height: 35px;
		// 			font-size: 28px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 50px;
		// 				left: 185px;
		// 				font-size: 40px;
		// 				line-height: 55px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: 0px;
		// 				left: 0px;
		// 				width: 100%;
		// 				font-size: 35px;
		// 				margin-left: 0px;
		// 				margin-top: -60px;
		// 				text-align: center;
		// 				position: relative;
		// 			}
		// 		}
		// 		img {
		// 			@include transform(scale(0.8));
		// 			@media(max-width: 992px) {
		// 				width: 100px;
		// 				@include transform(scale(1));
		// 			}
		// 			@media(max-width: 525px) {
		// 				width: 30%;
		// 				display: block;
		// 				margin-left: auto;
		// 				margin-right: auto;
		// 				margin-top: 20px;
		// 			}
		// 		}
		// 	}
		// 	.reward-10 {
		// 		position: relative;
		// 		margin-left: 710px;
		// 		margin-top: -180px;
		// 		@media(max-width: 992px) {
		// 			max-width: 350px;
		// 			margin-top: 35px;
		// 			margin-left: auto;
		// 			margin-right: auto;
		// 		}
		// 		.no {
		// 			top: 20px;
		// 			left: 205px;
		// 			color: $mainred;
		// 			font-size: 70px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 0px;
		// 				left: 125px;
		// 				font-size: 100px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: -30px;
		// 				left: 0px;
		// 				font-size: 90px;
		// 				position: relative;
		// 				text-align: center;
		// 			}
		// 		}
		// 		.text {
		// 			width: 100px;
		// 			top: 40px;
		// 			left: 265px;
		// 			line-height: 35px;
		// 			font-size: 28px;
		// 			position: absolute;
		// 			font-family: $fontbold;
		// 			@media(max-width: 992px) {
		// 				top: 20px;
		// 				left: 210px;
		// 				font-size: 40px;
		// 				line-height: 55px;
		// 			}
		// 			@media(max-width: 525px) {
		// 				top: 0px;
		// 				left: 0px;
		// 				width: 100%;
		// 				font-size: 35px;
		// 				margin-left: 0px;
		// 				margin-top: -60px;
		// 				text-align: center;
		// 				position: relative;
		// 			}
		// 		}
		// 		img {
		// 			@include transform(scale(0.8));
		// 			@media(max-width: 992px) {
		// 				width: 170px;
		// 				margin-left: -65px;
		// 				@include transform(scale(1));
		// 			}
		// 			@media(max-width: 525px) {
		// 				width: 50%;
		// 				display: block;
		// 				margin-left: auto;
		// 				margin-right: auto;
		// 				margin-top: 20px;
		// 			}
		// 		}
		// 	}
		// }
		.reward-section-4 {
			// margin-left: 15%;
			margin-left: 9%;
			margin-top: 50px;
			@media(max-width: 992px) {
				margin-top: 50px;
				margin-left: 0px;
			}
			.period {
				@media(max-width: 992px) {
					text-align: center;
				}
				.text {
					font-size: 28px;
					line-height: 55px;
					font-family: $fontblack;
					span {
						font-size: 60px;
						color: $mainred;
					}
				}
				.month {
					font-size: 19px;
					margin-top: -10px;
					font-family: $fontmedium;
				}
			}
			.reward-11 {
				position: relative;
				margin-left: -50px;
				margin-top: 40px;
				@media(max-width: 992px) {
					max-width: 350px;
					margin-top: 35px;
					margin-left: auto;
					margin-right: auto;
				}
				.no {
					top: -15px;
					left: 270px;
					color: $mainred;
					font-size: 90px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 175px;
						left: 30px;
					}
					@media(max-width: 525px) {
						top: -30px;
						left: 0px;
						font-size: 90px;
						position: relative;
						text-align: center;
					}
				}
				.text {
					width: 100px;
					top: 10px;
					left: 340px;
					line-height: 48px;
					font-size: 45px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 200px;
						left: 100px;
					}
					@media(max-width: 525px) {
						top: 0px;
						left: 0px;
						width: 100%;
						font-size: 35px;
						margin-left: 0px;
						margin-top: -60px;
						text-align: center;
						position: relative;
					}
				}
				img {
					@media(max-width: 992px) {
						width: 70%;
						display: block;
						margin: 0px auto;
					}
					@media(max-width: 525px) {
						width: 70%;
						display: block;
						margin-left: auto;
						margin-right: auto;
						margin-top: 20px;
					}
				}
			}
			.reward-12 {
				position: relative;
				margin-left: 550px;
				margin-top: -180px;
				@media(max-width: 992px) {
					max-width: 350px;
					margin-top: 195px;
					margin-left: auto;
					margin-right: auto;
				}
				@media(max-width: 525px) {
					margin-top: 20px;
				}
				.no {
					top: 5px;
					left: 150px;
					color: $mainred;
					font-size: 90px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 245px;
						left: 70px;
					}
					@media(max-width: 525px) {
						top: -10px;
						left: 0px;
						font-size: 90px;
						position: relative;
						text-align: center;
					}
				}
				.text {
					width: 180px;
					top: 30px;
					left: 200px;
					line-height: 48px;
					font-size: 45px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 270px;
						left: 120px;
					}
					@media(max-width: 525px) {
						top: 20px;
						left: 0px;
						width: 100%;
						font-size: 35px;
						margin-left: 0px;
						margin-top: -60px;
						text-align: center;
						position: relative;
					}
				}
				img {
					margin-top: -25px;
					@media(max-width: 992px) {
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
					@media(max-width: 525px) {
						display: block;
						margin-left: auto;
						margin-right: auto;
						margin-top: 40px;
					}
				}
			}
			.reward-13 {
				position: relative;
				margin-left: 30px;
				margin-top: 0px;
				@media(max-width: 992px) {
					max-width: 350px;
					margin-top: 240px;
					margin-left: auto;
					margin-right: auto;
				}
				@media(max-width: 525px) {
					margin-top: 20px;
				}
				.no {
					top: -15px;
					left: 220px;
					color: $mainred;
					font-size: 90px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 225px;
						left: 70px;
					}
					@media(max-width: 525px) {
						top: -10px;
						left: 0px;
						font-size: 90px;
						position: relative;
						text-align: center;
					}
				}
				.text {
					width: 100px;
					top: 10px;
					left: 290px;
					line-height: 48px;
					font-size: 45px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 250px;
						left: 140px;
					}
					@media(max-width: 525px) {
						top: 20px;
						left: 0px;
						width: 100%;
						font-size: 35px;
						margin-left: 0px;
						margin-top: -60px;
						text-align: center;
						position: relative;
					}
				}
				img {
					margin-top: -20px;
					@media(max-width: 992px) {
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
					@media(max-width: 525px) {
						width: 50%;
						display: block;
						margin-left: auto;
						margin-right: auto;
						margin-top: 30px;
					}
				}
			}
			.reward-14 {
				position: relative;
				margin-left: 500px;
				margin-top: -180px;
				@media(max-width: 992px) {
					max-width: 350px;
					margin-top: 165px;
					margin-left: auto;
					margin-right: auto;
				}
				@media(max-width: 525px) {
					margin-top: 20px;
				}
				.no {
					top: -5px;
					left: 240px;
					color: $mainred;
					font-size: 90px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 225px;
						left: 60px;
					}
					@media(max-width: 525px) {
						top: -10px;
						left: 0px;
						font-size: 90px;
						position: relative;
						text-align: center;
					}
				}
				.text {
					width: 100px;
					top: 20px;
					left: 310px;
					line-height: 48px;
					font-size: 45px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 250px;
						left: 130px;
					}
					@media(max-width: 525px) {
						top: 20px;
						left: 0px;
						width: 100%;
						font-size: 35px;
						margin-left: 0px;
						margin-top: -60px;
						text-align: center;
						position: relative;
					}
				}
				img {
					@media(max-width: 992px) {
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
					@media(max-width: 525px) {
						width: 50%;
						display: block;
						margin-left: auto;
						margin-right: auto;
						margin-top: 30px;
					}
				}
			}
		}
		.reward-section-5 {
			margin-top: 50px;
			@media(max-width: 992px) {
				margin-top: 150px;
				margin-left: 0px;
			}
			@media(max-width: 525px) {
				margin-top: 50px;
			}
			.period {
				@media(max-width: 992px) {
					text-align: center;
				}
				.text {
					font-size: 28px;
					line-height: 55px;
					font-family: $fontblack;
					span {
						font-size: 60px;
						color: $mainred;
					}
				}
				.month {
					font-size: 19px;
					margin-top: -10px;
					font-family: $fontmedium;
				}
			}
			.reward-15 {
				position: relative;
				margin-left: 0px;
				margin-top: 40px;
				@media(max-width: 992px) {
					max-width: 350px;
					margin-top: 35px;
					margin-left: auto;
					margin-right: auto;
				}
				.no {
					top: -15px;
					left: 270px;
					color: $mainred;
					font-size: 90px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 175px;
						left: 30px;
					}
					@media(max-width: 525px) {
						top: -30px;
						left: 0px;
						font-size: 90px;
						position: relative;
						text-align: center;
					}
				}
				.text {
					width: 100px;
					top: 10px;
					left: 340px;
					line-height: 48px;
					font-size: 45px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 200px;
						left: 100px;
					}
					@media(max-width: 525px) {
						top: 0px;
						left: 0px;
						width: 100%;
						font-size: 35px;
						margin-left: 0px;
						margin-top: -60px;
						text-align: center;
						position: relative;
					}
				}
				img {
					@media(max-width: 992px) {
						width: 70%;
						display: block;
						margin: 0px auto;
					}
					@media(max-width: 525px) {
						width: 70%;
						display: block;
						margin-left: auto;
						margin-right: auto;
						margin-top: 20px;
					}
				}
			}
			.reward-16 {
				position: relative;
				margin-left: 590px;
				margin-top: -180px;
				@media(max-width: 992px) {
					max-width: 350px;
					margin-top: 220px;
					margin-left: auto;
					margin-right: auto;
				}
				@media(max-width: 525px) {
					margin-top: 20px;
				}
				.no {
					top: 5px;
					left: 220px;
					color: $mainred;
					font-size: 90px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 245px;
						left: 50px;
					}
					@media(max-width: 525px) {
						top: -10px;
						left: 0px;
						font-size: 90px;
						position: relative;
						text-align: center;
					}
				}
				.text {
					width: 180px;
					top: 30px;
					left: 280px;
					line-height: 48px;
					font-size: 45px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 270px;
						left: 120px;
					}
					@media(max-width: 525px) {
						top: 20px;
						left: 0px;
						width: 100%;
						font-size: 35px;
						margin-left: 0px;
						margin-top: -60px;
						text-align: center;
						position: relative;
					}
				}
				img {
					margin-top: -50px;
					@media(max-width: 992px) {
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
					@media(max-width: 525px) {
						display: block;
						margin-left: auto;
						margin-right: auto;
						margin-top: 40px;
					}
				}
			}
			.reward-17 {
				position: relative;
				margin-left: 20px;
				margin-top: 70px;
				@media(max-width: 992px) {
					max-width: 350px;
					margin-top: 160px;
					margin-left: auto;
					margin-right: auto;
				}
				@media(max-width: 525px) {
					margin-top: 20px;
				}
				.no {
					top: -15px;
					left: 330px;
					color: $mainred;
					font-size: 90px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 180px;
						left: 60px;
					}
					@media(max-width: 525px) {
						top: -10px;
						left: 0px;
						font-size: 90px;
						position: relative;
						text-align: center;
					}
				}
				.text {
					width: 100px;
					top: 10px;
					left: 385px;
					line-height: 48px;
					font-size: 45px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 205px;
						left: 110px;
					}
					@media(max-width: 525px) {
						top: 20px;
						left: 0px;
						width: 100%;
						font-size: 35px;
						margin-left: 0px;
						margin-top: -60px;
						text-align: center;
						position: relative;
					}
				}
				img {
					margin-top: -20px;
					@media(max-width: 992px) {
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
					@media(max-width: 525px) {
						width: 50%;
						display: block;
						margin-left: auto;
						margin-right: auto;
						margin-top: 30px;
					}
				}
			}
			.reward-18 {
				position: relative;
				margin-left: 600px;
				margin-top: -180px;
				@media(max-width: 992px) {
					max-width: 350px;
					margin-top: 175px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 100px;
				}
				@media(max-width: 525px) {
					margin-top: 20px;
					margin-bottom: 0px;
				}
				.no {
					top: -5px;
					left: 240px;
					color: $mainred;
					font-size: 90px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 180px;
						left: 60px;
					}
					@media(max-width: 525px) {
						top: -10px;
						left: 0px;
						font-size: 90px;
						position: relative;
						text-align: center;
					}
				}
				.text {
					width: 100px;
					top: 20px;
					left: 290px;
					line-height: 48px;
					font-size: 45px;
					position: absolute;
					font-family: $fontbold;
					@media(max-width: 992px) {
						top: 205px;
						left: 110px;
					}
					@media(max-width: 525px) {
						top: 20px;
						left: 0px;
						width: 100%;
						font-size: 35px;
						margin-left: 0px;
						margin-top: -60px;
						text-align: center;
						position: relative;
					}
				}
				img {
					@media(max-width: 992px) {
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
					@media(max-width: 525px) {
						width: 50%;
						display: block;
						margin-left: auto;
						margin-right: auto;
						margin-top: 30px;
					}
				}
			}
		}
	}
}

footer{
	padding:0.5rem 0rem;
	background:#0d0d0d;
	color:#fff;
	font-size:12px;
	a{
		color:#fff;
		&:hover{
			color:$mainred;
			transition:0.5s all ease-in;
		}
	}
	@media(max-width: 525px) {
		text-align: center;
	}
}