// =============================================================================
// MIXIN
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf) {
	$src: null;

	$extmods: (
		eot: "?",
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin set-main-button($bgcolor, $color, $radius: 20px) {
	background-color: $bgcolor;
	color: $color;
	border:1px solid $maingreen;
	padding:6px 25px;
	border-radius: $radius;
	cursor:pointer;
}

@mixin set-submit-button($bgcolor, $color, $radius: 20px) {
	background-color: $bgcolor;
	color: $color;
	border:1px solid $maingreen;
	padding:10px 25px;
	border-radius: $radius;
	cursor:pointer;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin show-box() {
    -webkit-animation: showSlowlyElement 0.80s;
    animation: showSlowlyElement 0.80s;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin user-select($select) {
    -webkit-user-select: $select;
    -moz-user-select: $select;
    -ms-user-select: $select;
    -o-user-select: $select;
    user-select: $select;
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin background-gradient($direction, $first-color, $second-color) {
    background: -webkit-linear-gradient($direction, $first-color, $second-color);
    background: -moz-linear-gradient($direction, $first-color, $second-color);
    background: -ms-linear-gradient($direction, $first-color, $second-color);
    background: -o-linear-gradient($direction, $first-color, $second-color);
    background: linear-gradient($direction, $first-color, $second-color);
}

@mixin flex($value) {
    -webkit-box-flex: $value;
    -moz-flex: $value;
    -ms-flex: $value;
    -webkit-flex: $value;
    flex: $value;
}