$mainred: #e71f30;
$red2: #e81e28;
$navred: #e81e28;
$fontblack: 'Gotham-Black';
$fontbold: 'Gotham-Bold';
$fontbook: 'Gotham-Book';
$fontlight: 'Gotham-Light';
$fontmedium: 'Gotham-Medium';

/*RESPONSIVE YVONNE*/
@media(max-width:1200px) and (min-width:992px){
	.banner_top{
		.bg-image{
			background-position:60%;
		}
	} 
}
@media(max-width:992px){
	.banner_top{
		.bg-image{
			background-position:60%;
			 background-position: center center;
	    	padding-top: 120px;
	    	padding-bottom:3rem;
			&:before{
			    background-color: rgba(231, 31, 48,0.85);
			    background-image:unset;
			    width:100%;
			}
		}
		.content_wrapper{
			.content{
				width:100%;
				.logo_wrapper{
					width:100%;
				}
				.content_bottom{
					width:100%;
					font-size:20px;
					text-align:center;
					.btn_wrapper{
						margin-top:0.75rem;
					}
				}
			}
			.story_wrapper{
				font-size:14px;
				margin-bottom:2rem;
				text-align:center;
			}
		}
	} 
	.show-nav{
		overflow-y:hidden;
		header{
			.nav-right{
				@media(max-width:992px){
					transform: translateX(0px);		
				}
			}
		}
	}
	header{
		.navbar-toggler{
			border:0px;
			padding:0px;
			.navbar-toggler-icon{
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
			}
		}
		.nav-right{
			position: fixed;
			transform: translateX(-100vw);
			transition:0.5s all ease-in;
		    top: 0;
		    justify-items: center;
		    align-items: center;
		    left: 0;
		    justify-content: center;
		    right: 0;
		    margin-left: 0px !important;
		    padding: 2rem 3rem;
		    background: rgba(0,0,0,0.5);
		    height: 100%;
		    flex-direction: column;
		    display: flex;
		}
		.main-nav{
			display: inline-block;
		    text-align: center;
		    width: 40%;
		    align-self: center;
		    flex-grow: unset;
		    flex-basis:unset;
		    margin-top: 1.5rem;
			.nav-item{
				margin-bottom:0.75rem;
				margin-right:0rem;
				a{
					padding:0.5rem 0.5rem;					
				}
			}
			@media(max-width:768px){
				width:100%;
			}
		}
		.close_button{
			display: block;
			position:absolute;
			top:30px;
			right:50px;
			.btn-nav-close{
				padding: 0px;
			    font-size: 50px;
			    color:$mainred;
			    background: transparent;
			    display: block;
			    text-align: center;
			    line-height: 1;
			}
		}
	}
}

@media(max-width:768px){
	footer .d-flex{
		display:block !important;
	}
	.copyright_wrapper{
		margin-bottom:0.25rem;
	}	
}
