.top-nav {
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    z-index: 999;
    padding: 0px 20px;
    position: fixed;
    @include background-gradient(to right, #1E88E5, #512DA8);
    @include box-shadow(0px 3px 8px rgba(69, 101, 173, 0.19));
    .side-nav-mobile {
        width: 50px;
        display: none;
        font-size: 20px;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: 1100px) {
            @include flexbox();
        }
    }
    .profile-nav-mobile {
        width: 50px;
        display: none;
        font-size: 20px;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: 1100px) {
            @include flexbox();
        }
    }
    .top-nav-box {
        width: 100%;
        height: 100%;
        color: #fff;
        margin: 0px auto;
        @include flexbox();
        .logo {
            width: 250px;
            height: 100%;
            justify-content: center;
            @include flexbox();
            @media (max-width: 1100px) {
                margin: 0px auto;
            }
            img {
                width: 150px;
                top: 0px;
                bottom: 0px;
                margin: auto 0px;
            }
        }
        .quick-link {
            width: 50px;
            margin: 0px 20px;
            @media (max-width: 1100px) {
                display: none;
            }
            .icon {
                width: 100%;
                height: 100%;
                cursor: pointer;
                font-size: 24px;
                align-items: center;
                justify-content: center;
                @include flexbox();
            }
            ul {
                padding: 20px;
                background: #fff;
                display: none;
                position: absolute;
                @include user-select(none);
                @include border-radius(0.2em);
                &:after {
                    content: "";
                    top: -4px;
                    left: 20px;
                    width: 9px;
                    height: 9px;
                    background: #fff;
                    position: absolute;
                    @include transform(rotate(45deg));
                }
                li {
                    margin-bottom: 10px;
                    a {
                        i {
                            font-size: 14px;
                            margin-right: 10px;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .search {
            width: 350px;
            align-items: center;
            position: relative;
            @include flexbox();
            @media (max-width: 1100px) {
                display: none;
            }
            input {
                border: 0px;
                width: 100%;
                height: 65%;
                outline: none;
                padding: 0px 10px 0px 45px;
                @include border-radius(0.2em);
            }
            i {
                top: 0px;
                left: 12px;
                bottom: 0px;
                height: 24px;
                font-size: 24px;
                color: #333;
                margin: auto 0px;
                position: absolute;
            }
        }
        .messages {
            margin-left: auto;
            padding: 0px 15px;
            position: relative;
            border-left: 1px solid #6453ca;
            border-right: 1px solid #6453ca;
            @media (max-width: 1100px) {
                display: none;
            }
            .icon {
                width: 100%;
                height: 100%;
                cursor: pointer;
                font-size: 24px;
                position: relative;
                align-items: center;
                justify-content: center;
                @include flexbox();
                .count {
                    min-width: 20px;
                    height: 18px;
                    color: #fff;
                    top: 9px;
                    left: 13px;
                    padding: 5px;
                    font-size: 12px;
                    position: absolute;
                    background: #d32f2f;
                    align-items: center;
                    justify-content: center;
                    @include border-radius(50px);
                    @include flexbox();
                }
            }
            .messages-box {
                left: -125px;
                width: 300px;
                display: none;
                background: #fff;
                position: absolute;
                @include user-select(none);
                @include border-radius(0.2em);
                &:after {
                    content: "";
                    top: -4px;
                    left: 0px;
                    right: 0px;
                    width: 9px;
                    height: 9px;
                    margin: 0px auto;
                    background: #fff;
                    position: absolute;
                    @include transform(rotate(45deg));
                }
                .header {
                    color: #707070;
                    padding: 15px 20px;
                    border-bottom: 1px solid #f5f6f9;
                }
                .content {
                    .message-list {
                        width: 100%;
                        padding: 15px 20px;
                        align-items: center;
                        border-bottom: 1px solid #f5f6f9;
                        @include flexbox();
                        &:hover {
                            color: #707070;
                        }
                        .user-image {
                            width: 50px;
                            height: 50px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                @include border-radius(50px);
                            }
                        }
                        .right-content {
                            width: 195px;
                            margin-left: 15px;
                            .name {
                                color: #1E88E5;
                                line-height: 24px;
                            }
                        }
                    }
                }
                .footer {
                    color: #707070;
                    padding: 15px 20px;
                    text-align: center; 
                }
            }
        }
        .notification {
            padding: 0px 10px;
            @include flexbox();
            @media (max-width: 1100px) {
                display: none;
            }
            .notification-box {
                padding: 0px 15px;
                position: relative;
                .icon {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    font-size: 24px;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    @include flexbox();
                    .count {
                        min-width: 20px;
                        height: 20px;
                        color: #fff;
                        top: 9px;
                        left: 13px;
                        font-size: 12px;
                        position: absolute;
                        background: #d32f2f;
                        align-items: center;
                        justify-content: center;
                        @include border-radius(50px);
                        @include flexbox();
                    }
                }
                .notification-content {
                    left: -235px;
                    width: 300px;
                    display: none;
                    background: #fff;
                    position: absolute;
                    @include user-select(none);
                    @include border-radius(0.2em);
                    &:after {
                        content: "";
                        top: -4px;
                        right: 35px;
                        width: 9px;
                        height: 9px;
                        margin: 0px auto;
                        background: #fff;
                        position: absolute;
                        @include transform(rotate(45deg));
                    }
                    .header {
                        color: #707070;
                        padding: 15px 20px;
                        border-bottom: 1px solid #f5f6f9;
                        @include flexbox();
                        .action {
                            color: #1E88E5;
                            margin-left: auto;
                        }
                    }
                    .content {
                        .notification-list {
                            width: 100%;
                            display: block;
                            padding: 15px 20px;
                            border-bottom: 1px solid #f5f6f9;
                            &:hover {
                                color: #707070;
                            }
                            .name {
                                color: #1E88E5;
                                line-height: 24px;
                            }
                            .date {
                                font-size: 11px;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
        .user-profile {
            position: relative;
            padding: 0px 15px;
            position: relative;
            margin-left: auto;
            border-left: 1px solid #6453ca;
            border-right: 1px solid #6453ca;
            @media (max-width: 1100px) {
                top: 100%;
                width: 100%;
                border: 0px;
                display: none;
                margin-left: -20px;
                position: absolute;
                background: #fff;
            }
            .user-image {
                height: 100%;
                cursor: pointer;
                align-items: center;
                @include flexbox();
                @media (max-width: 1100px) {
                    margin-top: 15px;
                    justify-content: center;
                }
                .image {
                    width: 40px;
                    height: 40px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        @include border-radius(50%);
                    }
                }
            }
            .dropdown {
                left: -130px;
                width: 200px;
                display: none;
                background: #fff;
                padding: 10px 0px;
                position: absolute;
                @include user-select(none);
                @include border-radius(0.2em);
                @media (max-width: 1100px) {
                    width: 100%;
                    display: block;
                    position: initial;
                }
                &:after {
                    content: "";
                    top: -4px;
                    right: 30px;
                    width: 9px;
                    height: 9px;
                    margin: 0px auto;
                    background: #fff;
                    position: absolute;
                    @include transform(rotate(45deg));
                    @media (max-width: 1100px) {
                        right: 26px;
                    }
                }
                .info {
                    margin-top: -7px;
                    margin-bottom: 5px;
                    padding: 10px 20px;
                    border-bottom: 1px solid #f5f6f9;
                    @media (max-width: 1100px) {
                        text-align: center;
                    }
                    .user-name {
                        color: #1E88E5;
                        font-size: 14px;
                        line-height: 20px;
                    }
                    .user-group {
                        color: #707070;
                        font-size: 12px;
                    }
                }
                .dropdown-list {
                    a {
                        padding: 5px 20px;
                        display: block;
                        @media (max-width: 1100px) {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}