<template>
	<div class="main">
		<div class="row">
			<div class="col-md-6">
				<div class="content-box">
					<div class="content-box-header">
						<div class="box-title">Update Video</div>
						<div class="box-description">This is a form to update video</a></div>
					</div>
					<form>
						<div class="form-group">
							<label for=""> Title</label>
							<input class="form-control" v-model="form.title" placeholder="Enter Title" type="email">
							<ul class="error-messages">
								<li v-for="message in errorMessages.title">{{ message }}</li>
							</ul>
						</div>
						<div class="form-group">
							<label for=""> Subtitle</label>
							<input class="form-control" v-model="form.subtitle" placeholder="Enter Subtitle" type="email">
							<ul class="error-messages">
								<li v-for="message in errorMessages.subtitle">{{ message }}</li>
							</ul>
						</div>
						<div class="form-group">
							<label for=""> Link</label>
							<input class="form-control" v-model="form.link" placeholder="Enter Video Link" type="email">
							<ul class="error-messages">
								<li v-for="message in errorMessages.link">{{ message }}</li>
							</ul>
						</div>
					</form>
					<div class="content-box-footer text-right">
						<router-link tag="button" :to="{ name: 'videos' }">
							<button type="button" class="btn btn-default">Cancel</button>
						</router-link>
						<button type="button" class="btn btn-primary" @click="updateVideo" :disabled="btnAction != 'Save' ? true : false">{{ btnAction }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import video from '../../api/video'

	export default {
		data() {
			return {
				videos: [],
				form: {
					title: '',
					subtitle: '',
					link: ''
				},
				btnAction: 'Save',
				errorMessages: []
			}
		},
		methods: {
			getSingleVideo() {
				var self = this
				video.getSingleVideo({
					id: this.$route.params.id
				}, data => {
					self.form = data
				}, err => {
					console.log(err)
				})
			},
			updateVideo() {
				var self = this
				self.btnAction = 'Saving, please wait...'

				video.updateVideo(self.form, data => {
					this.$router.push({
						name: 'videos'
					})
				}, err => {
					self.errorMessages = err
                   	self.btnAction = 'Save'
				})
			}
		},
		mounted() {
			this.getSingleVideo()
		}
    }
</script>