<template>
	<div class="main">
		<div class="content-box">
			<div class="content-box-header">
				<div class="box-title">Video Management</div>
				<div class="box-description">List of video</div>
			</div>
			<div class="row">
				<div class="col-md-6 sm-text-center">
					<router-link class="btn btn-primary" tag="button" :to="{ name: 'create-video-form' }">
						<i class="pe-7s-plus"></i> Add New Video
					</router-link>
				</div>
				<div @keyup.enter="getVideos" class="col-md-6 sm-text-center form-inline justify-content-end">
					<select v-model="filter.search.field" class="form-control mb-1 mr-sm-1 mb-sm-0 search-field">
						<option value="title">Title</option>
					</select>
					<input v-model="filter.search.value" class="form-control mb-1 mr-sm-1 mb-sm-0" placeholder="Search" type="text">
					<button class="btn btn-primary" @click="getVideos"><i class="pe-7s-search"></i> Search</button>
				</div>
			</div>
			<div class="table-responsive mt-3">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="text-center table-number">No</th>
							<th>Title</th>
							<th class="text-center action">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(video, key) in videos">
							<td class="text-center">{{ (key + 1) }}</td>
							<td>{{ video.title }}</td>
							<td class="text-center">
								<router-link tag="a" :to="{ name: 'update-video-form', params: { id: video.id } }"><i class="pe-7s-note"></i></router-link>
								<a @click="deleteVideo(video.id)" href="javascript:;"><i class="pe-7s-trash"></i></a>
							</td>
						</tr>
						<tr v-if="!videos.length">
							<td class="text-center" colspan="3">No records found</td>
						</tr>
					</tbody>
				</table>
			</div>
			<pagination @changePage="changePage" @changeLimit="changeLimit" :items="videos" :total="total" :page="filter.page" :limitOptions="filter.limitOptions" :limit="filter.limit"></pagination>
		</div>
	</div>
</template>

<script>
	import video from '../../api/video'
	import Pagination from '../layout/Pagination'

	export default {
		data() {
			return {
				filter: {
					page: 1,
					limit: 5,
					limitOptions: [5, 10, 15, 20],
					search: {
						field: 'title',
						value: ''
					}
				},
				videos: [],
				total: 0
			}
		},
		methods: {
			getVideos() {
				var self = this
				video.getVideos(self.filter, data => {
					self.videos = data.rows
					self.total = data.total
				}, err => {
					console.log(err)
				})
			},
			changeLimit(limit) {
				this.filter.page = 1
				this.filter.limit = limit
				this.getVideos()
			},
			changePage(page) {
				this.filter.page = page
				this.getVideos()
            },
            deleteVideo(videoId) {
            	var self = this
				video.deleteVideo({
					id: videoId
				}, data => {
					this.getVideos()
				}, err => {
					console.log(err)
				})
            }
		},
		components: {
			'pagination': Pagination
		},
		mounted() {
			this.getVideos()
		}
    }
</script>

<style lang="scss" scoped>
    .search-field {
    	min-width: 120px;
    }
    .table {
	    a {
		    color: #2675dc;
	    }
	    .table-number {
    	    width: 60px;
        }
        .action {
    	    width: 100px;
        }
    }
</style>